*[data-v-65af85a3] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-65af85a3] {
  transform: translate(-50%) !important;
  left: 50%;
}
.el-header[data-v-65af85a3] {
  z-index: 99;
  height: 3.125rem;
  padding: 0 0.9375rem;
  background: #3f4245;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.el-header .left[data-v-65af85a3] {
  width: 6.25rem;
  display: flex;
  align-items: center;
}
.el-header .left img[data-v-65af85a3] {
  width: 2.75rem;
}
.el-header .left div[data-v-65af85a3] {
  flex: 1;
  cursor: pointer;
}
.el-header .left div p[data-v-65af85a3] {
  height: 1.5625rem;
  line-height: 1.5rem;
  font-size: 0.875rem;
  text-align: center;
  color: #ccc;
}
.el-header .left div p[data-v-65af85a3]:first-of-type {
  border-bottom: 0.0625rem solid #111;
}
.el-header .left div p[data-v-65af85a3]:last-of-type {
  border-top: 0.0625rem solid #666;
}
.el-header .rigth[data-v-65af85a3] {
  display: flex;
  height: 100%;
  align-items: center;
}
.el-header .rigth li[data-v-65af85a3] {
  flex: 1;
  display: inline-block;
  line-height: 3.125rem;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.el-header .rigth li[data-v-65af85a3]:hover {
  color: gray;
  transform: scale(1.1);
}
.el-header .rigth .active[data-v-65af85a3] {
  color: gray;
  transform: scale(1.1);
}
*[data-v-9ca947b4] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-9ca947b4] {
  transform: translate(-50%) !important;
  left: 50%;
}
.show[data-v-9ca947b4] {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  background: wheat;
}
.show .title[data-v-9ca947b4] {
  text-align: center;
  padding: 3.75rem 0 2.5rem;
}
*[data-v-1fb64cc2] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-1fb64cc2] {
  transform: translate(-50%) !important;
  left: 50%;
}
.map[data-v-1fb64cc2] {
  width: 18.75rem;
  height: 12.5rem;
  text-align: center;
  margin: 0 auto;
}
.center[data-v-1fb64cc2] {
  margin-top: 1.25rem;
  text-align: center;
}
.photo[data-v-1fb64cc2] {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-size: 100%;
  margin: 0.625rem auto;
  display: block;
}
*[data-v-acfb00ea] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-acfb00ea] {
  transform: translate(-50%) !important;
  left: 50%;
}
.service[data-v-acfb00ea] {
  margin-top: 1.875rem;
}
h4[data-v-acfb00ea] {
  margin-bottom: 0.625rem;
}
.box-card[data-v-acfb00ea] {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  margin-top: 1.25rem;
  min-height: 9.375rem;
  background: #cccccc;
}
*[data-v-6cb1b4f6] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-6cb1b4f6] {
  transform: translate(-50%) !important;
  left: 50%;
}
.grid-content[data-v-6cb1b4f6] {
  text-align: center;
}
.grid-content .col-md-3[data-v-6cb1b4f6] {
  margin-top: 2.5rem;
}
*[data-v-5fae0813] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-5fae0813] {
  transform: translate(-50%) !important;
  left: 50%;
}
.circle[data-v-5fae0813] {
  max-width: 18.75rem;
  margin: 0 auto;
  text-align: left;
}
.circle .ico[data-v-5fae0813] {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  margin-right: 0.3125rem;
}
li[data-v-5fae0813] {
  width: 33.33%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
li div[data-v-5fae0813] {
  text-align: center;
}
li p[data-v-5fae0813] {
  text-align: left;
  padding: 0 0.625rem;
}
*[data-v-657525d1] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-657525d1] {
  transform: translate(-50%) !important;
  left: 50%;
}
.skill[data-v-657525d1] {
  width: 80%;
  margin: 0 auto;
}
.box-card[data-v-657525d1] {
  background: #cccccc;
  height: 80vh;
}
.center[data-v-657525d1] {
  margin-top: 1.25rem;
  text-align: center;
}
li[data-v-657525d1] {
  list-style: none;
  float: left;
}
*[data-v-49473db1] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-49473db1] {
  transform: translate(-50%) !important;
  left: 50%;
}
.skill[data-v-49473db1] {
  width: 80%;
  margin: 0 auto;
}
.box-card[data-v-49473db1] {
  background: #cccccc;
  height: 80vh;
}
.center[data-v-49473db1] {
  margin-top: 1.25rem;
  text-align: center;
}
li[data-v-49473db1] {
  list-style: none;
  float: left;
}
*[data-v-49555532] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-49555532] {
  transform: translate(-50%) !important;
  left: 50%;
}
.skill[data-v-49555532] {
  width: 80%;
  margin: 0 auto;
}
.box-card[data-v-49555532] {
  background: #cccccc;
  height: 80vh;
}
.center[data-v-49555532] {
  margin-top: 1.25rem;
  text-align: center;
}
li[data-v-49555532] {
  list-style: none;
  float: left;
}
*[data-v-49636cb3] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-49636cb3] {
  transform: translate(-50%) !important;
  left: 50%;
}
.skill[data-v-49636cb3] {
  width: 80%;
  margin: 0 auto;
}
.box-card[data-v-49636cb3] {
  background: #cccccc;
  height: 80vh;
}
.center[data-v-49636cb3] {
  margin-top: 1.25rem;
  text-align: center;
}
li[data-v-49636cb3] {
  list-style: none;
  float: left;
}
*[data-v-1d44cf2a] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-1d44cf2a] {
  transform: translate(-50%) !important;
  left: 50%;
}
.box-card[data-v-1d44cf2a] {
  margin: 0 auto;
  width: 80%;
}
.box-card .el-card[data-v-1d44cf2a] {
  margin: 0.625rem 0;
  background: #cccccc;
}
.box-card .el-card img[data-v-1d44cf2a] {
  width: 6.25rem;
}
*[data-v-61d2d687] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-61d2d687] {
  transform: translate(-50%) !important;
  left: 50%;
}
.message[data-v-61d2d687] {
  margin: 0 auto;
  width: 80%;
}
.message .message-box .top[data-v-61d2d687] {
  margin: 1.25rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message .message-box .top .el-input[data-v-61d2d687] {
  width: 12.5rem;
}
.message .message-box .top .image[data-v-61d2d687] {
  display: inline-block;
}
.message .message-box .top .image .block[data-v-61d2d687] {
  display: inline-block;
  padding: 0 0.3125rem;
}
.message .message-box .write[data-v-61d2d687] {
  height: 5rem;
  width: 25rem;
  border: none;
  border-radius: 0.3125rem;
  background: lightgray;
  outline: none;
}
.message .message-box .btn[data-v-61d2d687] {
  margin-top: 1.25rem;
}
.message .message-box[data-v-61d2d687] {
  text-align: left;
  margin-top: 1.25rem;
}
.message .message-box ul[data-v-61d2d687] {
  margin: 0 auto;
}
.message .message-box ul li[data-v-61d2d687] {
  text-align: left;
  padding: 0.125rem 0.3125rem;
  display: flex;
  flex-direction: row;
}
.message .message-box ul li .right[data-v-61d2d687] {
  display: inline-block;
  margin-left: 0.625rem;
}
.message .message-box ul li .right p[data-v-61d2d687] {
  color: gray;
  font-size: 0.75rem;
}
*[data-v-82b7485c] {
  margin: 0;
  padding: 0;
}
.el-tabs__nav[data-v-82b7485c] {
  transform: translate(-50%) !important;
  left: 50%;
}
.el-main[data-v-82b7485c] {
  padding: 0 !important;
}
.navStop[data-v-82b7485c] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.center[data-v-82b7485c] {
  padding-top: 1.25rem;
  text-align: center;
  background: wheat;
}
.work[data-v-82b7485c] {
  margin: 0 auto;
  width: 80%;
}
.el-carousel__item h3[data-v-82b7485c] {
  color: #475669;
  font-size: 0.875rem;
  opacity: 0.75;
  line-height: 12.5rem;
  margin: 0;
}
.el-carousel__item[data-v-82b7485c]:nth-child(2n) {
  background-color: #99a9bf;
}
.el-carousel__item[data-v-82b7485c]:nth-child(2n+1) {
  background-color: #d3dce6;
}
.center[data-v-82b7485c] {
  margin-top: 1.25rem;
  text-align: center;
}
.text[data-v-82b7485c] {
  font-size: 0.875rem;
}
.item[data-v-82b7485c] {
  margin-bottom: 1.125rem;
}
.clearfix[data-v-82b7485c]:before,
.clearfix[data-v-82b7485c]:after {
  display: table;
  content: "";
}
.clearfix[data-v-82b7485c]:after {
  clear: both;
}
.box-card[data-v-82b7485c] {
  width: calc(100% - 2.5rem);
  margin: 0.625rem 1.25rem;
}
