/*page4*/
#page4{
	background:#9391A7;
	}

#page4 header.local{
	opacity: 1;
	}
#page4 header.apped{
	margin-top: 0px;
	transition: 1s 1s;
	}
#page4-body{
		padding-top:10% ;
	}
#page4 #page4-box{
	padding: 50px;
}
#page4 #page4-box div{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#page4 .page4-box{
	height: 120px;
	width: 120px;
	background: yellow;
	list-style: none;
	margin-bottom:50px ;
	line-height: 80px;
	text-align: center;
	position: relative;
	}
#page4 .page4-box p{
	position: absolute;
	top: 70px;
}
