<template>
  <div class="resume-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  // eslint-disable-next-line @typescript-eslint/explicit-module-boundary-types
  created() {
    console.log(process.env, "process.env");
  },
};
</script>

<style lang="scss">
.resume-app {
  li {
    list-style: none;
  }
  .el-main {
    padding: 0;
  }
}
</style>